[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
coverage = "*"
psycopg2 = "*"
flask = "*"
flask-migrate = "*"
flask-script = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
basilica = "*"
tweepy = "*"
redis = "*"
scikit-learn = "*"
python-dotenv = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
